<div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
    <div class="sidebar-brand d-none d-md-flex">
        Attractor News
    </div>
    <ul class="sidebar-nav" data-coreui="navigation" data-simplebar>
        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:users_list' %}">Users</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'articles:categories_list' %}">Categories</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'articles:articles_list' %}">Articles</a></li>
    </ul>
</div>