{% extends 'base.html' %}

{% block title %}Articles{% endblock %}

{% block content %}
    <a href="{% url 'articles:add_article' %}" class="btn btn-primary mb-2">Add new article</a>
    {% for article in articles %}
        <div class="card my-3">
            <img src={{ article.image.url }} class="card-img-top" alt="article-image">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ article.category }}</h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ article.user }}</h6>
                <p class="card-text">{{ article.description }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
