{% extends 'base.html' %}

{% block title %}Articles{% endblock %}

{% block content %}
    <div class="table-responsive">
        <table class="table responsive border nowrap mb-0 bg-white table-striped" id="articlesTable">
            <thead class="table-light fw-semibold">
                <tr class="align-middle">
                    <th class="text-center">Title</th>
                    <th class="text-center">Category</th>
                    <th class="text-center">User</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr class="align-middle">
                    <td class="text-center">
                        {{ article.title }}
                    </td>
                    <td class="text-center">
                        {{ article.category }}
                    </td>
                    <td class="text-center">
                        {{ article.user }}
                    </td>
                    <td class="text-center">
                        <a href="{% url 'articles:update_article' pk=article.pk %}" class="mx-2">
                            <i class="bi bi-pencil"></i></a>
                        <a href="{% url 'articles:delete_article' pk=article.pk %}" class="mx-2">
                            <i class="bi bi-x-circle"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        let table = new DataTable('#articlesTable');
    </script>
{% endblock %}